<!------------------------------------------------
|
| Onboarding Intro
|
-------------------------------------------------->
<template name="onboarding_teacher_intro">
	{{#mooqita_wide_spacing}}
		<div class="row padding-top" style="margin-top: 20%">
			<div class="col-sm-6">
				<h1 style="text-align: center; padding-top: 30px">
					<img style="width: 300px" src="/images/mooqita.jpg">
				</h1>
			</div>

			<div class="col-sm-6">
				<h1>Meet the Promise of Standards</h1>

				<p style="padding-bottom: 25px">
                    Student learning can be positively impacted by the encouragement of teachers to their students. ...
                    If teachers believe in their students, their students begin to believe in themselves.
                    Students take into effect the beliefs their teachers have on them and accept it as part of who they are and their abilities
				</p>

				<a class="btn btn-theme" href="designed_challenges" >
					Here you Go !!!
				</a>

                <a class="btn btn-theme" href="teacher-designed_challenges">Planning class and questions</a>



                <a class="btn btn-theme" href="teacher-designed_quiz_challenges">Design a Test</a>

                <a class="btn btn-theme" href="teacher-designed_challenges">Grade a Test </a>
                <a class="btn btn-theme" href="teacher-designed_challenges">Change Learner Material</a>



			</div>
		</div>
	{{/mooqita_wide_spacing}}
</template>

